{
    "schema":[
        {"hour":0, "ct": 447},
        {"hour":1, "ct": 447},
        {"hour":2, "ct": 447},
        {"hour":3, "ct": 447},
        {"hour":4, "ct": 447},
        {"hour":5, "ct": 300},
        {"hour":6, "ct": 300},
        {"hour":7, "ct": 300},
        {"hour":8, "ct": 233},
        {"hour":9, "ct": 233},
        {"hour":10, "ct": 233},
        {"hour":11, "ct": 233},
        {"hour":12, "ct": 233},
        {"hour":13, "ct": 233},
        {"hour":14, "ct": 233},
        {"hour":15, "ct": 233},
        {"hour":16, "ct": 233},
        {"hour":17, "ct": 233},
        {"hour":18, "ct": 233},
        {"hour":19, "ct": 363},
        {"hour":20, "ct": 363},
        {"hour":21, "ct": 363},
        {"hour":22, "ct": 447},
        {"hour":23, "ct": 447}
    ]
}